여기는 메모장입니다. (m키 입력으로 전환 가능)
그림, 차트, 그래프, 텍스트 모두 입력 가능
실행은 Shift + Enter

스크립트창은 Y키 입력  --> In [ ] 기호로 식별 가능

# 메모 강조
메모를 강조하려면 '#'을 앞에 붙인다.

# cmd 명령어 사용하기
'!'을 앞에 붙이면 cmd 명령어를 사용할 수 있음.

pandas -> 분석 라이브러리

In [1]:
!pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/02/d0/1e8e60e61e748338e3a40e42f5dfeee63ccdecfc4f0894122b890bfb009a/pandas-0.25.3-cp37-cp37m-win_amd64.whl (9.2MB)
Collecting pytz>=2017.2
  Downloading https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl (509kB)
Collecting numpy>=1.13.3
  Downloading https://files.pythonhosted.org/packages/a9/38/f6d6d8635d496d6b4ed5d8ca4b9f193d0edc59999c3a63779cbc38aa650f/numpy-1.18.1-cp37-cp37m-win_amd64.whl (12.8MB)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\python\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\python\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.13.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.18.1 pandas-0.25.3 pytz-2019.3

엑셀 읽기(xlrd)/쓰기(xlwrite) 라이브러리

In [2]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [3]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading https://files.pythonhosted.org/packages/0d/0c/4376ce9d0773c9969271419d4c843bf9b845d831a555f5abb6229e74ac1e/XlsxWriter-1.2.7-py2.py3-none-any.whl (141kB)
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.2.7

현재 디렉토리 출력

In [7]:
%pwd

'C:\\Users\\Python\\Desktop\\py\\Day 6\\예제\\excel'

In [9]:
import pandas as pd

df = pd.read_excel('학생시험성적.xlsx') # 엑셀 파일을 불러와 읽음
df # df만 입력해도 실행가능

   학생  국어  영어  수학         평균
0  일동  80  90  85  85.000000
1  이동  90  95  95  93.333333
2  삼동  95  70  75  80.000000
3  사동  70  85  80  78.333333
4  오동  75  90  85  83.333333

In [16]:
import pandas as pd

df = pd.read_excel('학생시험성적.xlsx', sheet_name=0, index_col=0)
df

    국어  영어  수학         평균
학생
일동  80  90  85  85.000000
이동  90  95  95  93.333333
삼동  95  70  75  80.000000
사동  70  85  80  78.333333
오동  75  90  85  83.333333

In [17]:
import pandas as pd

df = pd.read_excel('학생시험성적.xlsx', sheet_name=0, index_col=3)
df

    학생  국어  영어         평균
수학
85  일동  80  90  85.000000
95  이동  90  95  93.333333
75  삼동  95  70  80.000000
80  사동  70  85  78.333333
85  오동  75  90  83.333333

In [20]:
# sheet_name과 index_col 은 숫자를 사용해도 같은 결과가 나온다.

import pandas as pd

df = pd.read_excel('학생시험성적.xlsx', sheet_name='기말고사', index_col='평균')
df

           학생  Py  Java  C++
평균
85.000000  일동  80    90   85
93.333333  이동  90    95   95
80.000000  삼동  95    70   75
78.333333  사동  70    85   80
83.333333  오동  75    90   85

# 엑셀 데이터 생성

In [22]:
import pandas as pd # 위에 썼으면 굳이 또 안써도 알아서 인식함

excel_exam_data1 = {'학생': ['장동건', '주진모', '이정재', '정우성', '현빈'], 
                   '국어': [60, 70, 80, 90, 100],
                   '수학': [80, 80, 75, 90, 90],
                   '영어': [60, 70, 70, 80, 95]}

In [25]:
df1 = pd.DataFrame(excel_exam_data1, columns=excel_exam_data1.keys()) # 입력받은 인수를 엑셀 시트화 한다
df1

    학생   국어  수학  영어
0  장동건   60  80  60
1  주진모   70  80  70
2  이정재   80  75  70
3  정우성   90  90  80
4   현빈  100  90  95

# 엑셀 데이터 파일로 저장하기

In [26]:
excel_writer = pd.ExcelWriter('학생시험성적_pd.xlsx', engine='xlsxwriter')
df1.to_excel(excel_writer, index=False)
excel_writer.save()

In [27]:
df2=pd.read_excel('학생시험성적_pd.xlsx')
df2

    학생   국어  수학  영어
0  장동건   60  80  60
1  주진모   70  80  70
2  이정재   80  75  70
3  정우성   90  90  80
4   현빈  100  90  95

In [28]:
excel_writer = pd.ExcelWriter('학생시험성적_pd_2.xlsx', engine='xlsxwriter')
df1.to_excel(excel_writer, index=False, sheet_name='계절학기')
excel_writer.save()